html {
  -webkit-text-size-adjust: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  background-color: white;
  color: #0d0d0d;
}

p {
  margin-bottom: 0.5rem;
}

.main-container {
  max-width: 1600px;
  background-color: white;

  margin: auto;
}
.main {
  background-color: white;
  width: 100%;
}

.header {
  background-color: #0d0d0d;
}

.logo {
  font-size: 2.2rem;
  font-weight: 200;
  text-align: center;
  margin-bottom: 0rem;
  color: #bfbfbf;
  padding: 0;
  padding-top: 0.2rem;
  font-size:100%;
}

h2,
h3,
h4 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: #8c8c8c;
  font-weight: bolder;
}

a:hover {
  color: #bfbfbf;
  transition: 0.3s;
}

.nav-link {
  font-family: Arial, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 0.1rem;
  padding-bottom: 0.3rem;
  padding-right: 0.75rem;
  font-size:100%;
}

footer {
  text-align: center;
  color: #8c8c8c;
  background-color: white;
}

.footer-inner {
  padding: 3rem;
  padding-bottom: 0.2rem;

  background-color: #f2f2f2;
}

.main img {
  max-height: 600px;
  object-fit: cover;
  object-position: 0 10%;
}

h4,
h5,
h6 {
  margin-top: 0;
  margin-right: 0.2rem;
}

.img-small {
  display: none;
}

.p-2 {
  padding: 0rem !important;
}

.img-thumbnail {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}

.disabled {
  filter: opacity(45%) !important;
  color: #8c8c8c !important;
}

i {
  margin-right: 0.28rem;
}

address {
  font-size: 0.9rem;
  line-height: 1.5;
}

/*******************************************************************************************/
/****************************************** HOME *******************************************/
/*******************************************************************************************/

.carousel {
  background-color: #f2f2f2;
}

.about {
  padding: 2rem;
  padding-bottom: 4rem;
  background-color: #f2f2f2;
}

.news-container {
  background-color: #b4656f;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news {
  padding-top: 2rem;
  padding: 1rem;
}

.news article {
  width: 100%;
  max-width: 420px;
  background-color: #f2f2f2;
  padding: 1rem;
  margin: auto;
  margin-bottom: 3rem;
}



.news article img {
  width: 100%;
  margin-bottom: 0.85rem;
}

.news article h4 {
  text-align: center;
}

.news-container h3 {
  background-color: white;
  display: inline;
  padding: 0rem 0.2rem;
  position: relative;
  bottom: 1.2rem;
  margin: 0 auto;
}

.link {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.more {
  color: #8c8c8c;
  font-weight: bolder;
  text-decoration: none;
  font-size: 0.7rem;
  
  text-align: right;
  padding-right: .5rem;
}

.more:hover {
  color: #bfbfbf;
  transition: 0.3s;
  text-decoration: none;
}

/*******************************************************************************************/
/****************************************** MUSIC ******************************************/
/*******************************************************************************************/

.music-container {
  display: flex;
  flex-direction: column;
}

.new-album {
  width: 100%;
  min-width: 230px;
  padding: 1rem;
  background-color: #8c8c8c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top: none;
  text-align: center;
}

.rotate h2 {
  text-align: center;
  background-color: white;
  padding: 0rem 0.3rem;
  display: inline;
  margin: 0 auto;
  position: relative;
  bottom: 0.3rem;
  font-size: 2.2rem;
  z-index: 50;
  line-height: 1.3;
  
}

.rotate {
  transform: rotate(-.7deg);
  position: relative;
  z-index: 30;
}

.album-article {
  background-color: #f2f2f2;

  order: 2;
  width: 100%;
  min-width: 220px;
  max-width: 300px;
  

  margin: 0 auto;
  padding-bottom: 2rem;
}

.article-img {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  min-width: 230px;
  min-height: 230px;
  padding: 0.5rem;
  background-color: #f2f2f2;
  position: relative;
  top: 0.85rem;
  z-index: 0;
}

.album-media {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.album-p {

  padding: .75rem 1rem;
  position: relative;
  bottom: 0.9rem;
  left: .5rem;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  max-width: 300px;
}

.new-album button {
  align-self: flex-end;
  margin: auto;
}

.album-quote {
  display: none;
  order: 2;
  padding: 0.5rem 2rem;

  font-size: 1.7rem;
  text-align: center;
  font-weight: 200;
  color: #f2f2f2;
  margin: auto;
  justify-self: center;
}

.m-wrapper {
  width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 2rem;
}

.music img {
  background-color: #f2f2f2;
  object-position: 0 28%;
  max-height: 600px;
}

.spotify {
  padding: 0rem 1rem 5rem 1rem;
  width: 100%;
  background-color: #f2f2f2;
}

.player {
  width: 100%;
  height: 100%;
  border: none;
}

.music-text {
  padding: 2rem;

  background-color: #f2f2f2;
  width: 100%;

  margin: auto;
}

em {
  width: 100%;
  margin: auto;
}

.byline {
  padding: 0rem;
  font-size: 0.7rem;
  font-weight: 600;
}
.video-container {
  background-color: #b4656f;
  display: flex;
  flex-direction: column;
}

.video-container h3 {
  background-color: white;
  display: inline-block;
  padding: 0rem 0.2rem;
  position: relative;
  margin: 0 auto;
  margin-bottom: 1rem;
  bottom: 1rem;
}

.videos {
  width: 100%;
  padding: 0rem 1rem;
  background-color: #b4656f;
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-bottom: 0rem;
}

.youtube {
  width: 100%;
  max-width: 440px;

  margin-bottom: 3rem;
  background-color: #0d0d0d;
}

.embed-responsive-item {
  border: 0.25rem solid #0d0d0d !important;
}

/*******************************************************************************************/
/****************************************** TOUR *******************************************/
/*******************************************************************************************/

.tour {
  width: 100%;
  text-align: center;
  background-color: #8c8c8c;
  z-index: 0;
}

.schedule {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.schedule-header {
  padding: 0rem 0.25rem;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  display: inline;
  background-color: white;
  position: relative;
  bottom: 1rem;
  font-size: 1.9rem;

  z-index: 2;
  left: auto;
  right: auto;
}

.gig .h {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  display: inline-block;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  position: relative;
  top: 0.8rem;
  z-index: 2;
  color: black;
  margin-bottom: 0;
  font-size: 90%;
}

.gig h5 {
  font-size: 108% !important;
}

.gig {
  width: 100%;
  min-width: 230px;
  max-width: 370px;
  margin: 0.15rem;
  margin-bottom: 2rem;
}

.gig-container {
  position: relative;
  bottom: 1rem;
  z-index: 4;
  padding: 0rem 0.5rem;
}

.gig img {
  width: 100%;
  z-index: 1;
  max-height: 190px;
  object-fit: cover;
}

.gig .btn {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.25rem;
  background-color: white;
}

.tour-img {
  border-top: 0;
  border-bottom: 0;
  object-fit: cover;
  filter: opacity(27.09%);
}

.tour-img-container {
  background-color: #bfbfbf;
  z-index: 2;
}

.tour-img {
  width: 100%;
}

.tour .img-thumbnail {
  box-shadow: none !important;
  border-radius: 0;
}

/*******************************************************************************************/
/**************************************** CONTACT ******************************************/
/*******************************************************************************************/
form {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;

}


.contact-logo {
  display: none;
}

.form-container {
  width: 100%;
  background-color: #bfbfbf;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container h2 {
  background-color: white;
  display: inline-block;
  padding: 0rem 0.35rem;
  position: relative;
  top: 0.8rem;
  margin: 0 auto;
  order: 0;
}

.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 0.3rem;
  width: 100%;
}
fieldset {
  width: 100%;
}

textarea {
  padding: 0.4rem;
  width: 100%;
}
.form {
  width: 100%;
  max-width: 440px;
  min-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  
  background-color: #f2f2f2;
  padding: 2rem;
  padding-bottom: 2rem;
  order: 2;
}

.label {
  width: 100%;
  margin: 0.2rem;
  margin-top: 0.8rem;
  font-weight: 600;
  align-self: flex-start;
}

.submit {
  max-width: 150px;
  background-color: white;
  border-width: 1px;
  border-radius: 0.25rem;
  margin: auto auto;



  border-color: #8c8c8c;
}

.submit:hover {
  background-color: #f2f2f2;
  transition: 0.3s;
}

.visit-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 440px;
  background-color: #f2f2f2;
  padding: 1rem;
}

.visit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  background-color: #b4656f;
  min-width: 240px;
}

.visit-container h4 {
  background-color: white;
  display: inline-block;
  padding: 0rem 0.2rem;
  position: relative;
  top: 0.4rem;
  margin: 0 auto;
}

.visit iframe {
  border: 0.2rem solid white !important;
}
