html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  color: #0d0d0d;
}

#container {
  max-width: 1600px;
  background-color: #0d0d0d;
  margin: auto;
}

.sticky-top {
  background-color: #0d0d0d;
}

p {
  
}

.logo {
  font-size: 2.2rem;
  font-weight: 200;
  text-align: center;
  margin-bottom: 0rem;
  color: #bfbfbf;
  padding-left: 0;
  padding-right: 0;
}

h2,
h3,
h4 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #8c8c8c;
  font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
}

a:hover {
  color: #bfbfbf;
  transition: 0.3s;
}

footer {
  text-align: center;
  color: #8c8c8c;
  padding-top: 10px;
}

.main img {
  max-height: 500px;
  object-fit: cover;
  object-position: 0 10%;
}

.about {
  padding: 20px;
  background-color: #f2f2f2;
  border-bottom: 0.5rem solid #0d0d0d;
}



.nav-link {
  padding-top: 0.1rem;
}

.tour {
  width: 100%;
  text-align: center;
  background-color: #7D6167;
  padding: 20px;
}

.schedule {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
  
}

.m-wrapper {
  width: 100%;
  border-bottom: 0.5rem solid #0d0d0d;
  background-color: #8C8C8C;
}

.music img {
  padding: 1rem 1rem 0 1rem;
  background-color: #8C8C8C;
  object-position: 0 40%;
}

.spotify {
  padding: 1rem;
  width: 100%;
}

.contact-text {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 200;
  padding: 20px;
  width: 50%;
  color: #f2f2f2;
}

.contact-text h2 {
  text-align: center;
  font-weight: 200;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.schedule-header {
  padding: .3rem .7rem;
  text-align: center;
  font-family: monospace;
  display: inline;
  font-weight: bold;
  background-color: #f2f2f2;
  
  
  
  align-self: center;
}

h4,
h5,
h6 {
  margin-top: 0;
  margin-right: 0.2rem;
}

.gig1 h4,
h5,
h6 {
  background-color: #f2f2f2;
  display: inline;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  position: relative;
  z-index: 2;
}

.gig {
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  padding-bottom: 0.8rem;
  filter: opacity(90%);
  
}

.gig:hover {
  filter: opacity(100%);
}

.schedule img {
  width: 100%;
  z-index: 1;
  
}



.img-small {
  display: none;
}

.bild2 {
  display: none;
}

.p-2 {
  padding: 0rem !important;
}

.img-thumbnail {
  background-color: #f2f2f2;
}
