@media (min-width: 560px) {
  .gig {
    width: 49%;
  }

  .schedule {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .videos {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .youtube {
    width:48%;
    min-width: 200px;
    max-height: 170px;
  }
}


@media (min-width: 701px) {
  .news article {
    width: 48%;
    min-width: 265px;
    max-width: 430px;
  }

  .news { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .youtube {
    width:48%;
    min-width: 200px;
    max-height: 200px;
  }

  .spotify {
    min-width: 240px;
    max-width: 300px;
    max-height: 360px;
    padding: 2rem 1rem;
  }

  .music img { 
    display: block;
  }

  .m-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
  }

  .contact-text {
    width: fit-content;
    min-width: 320px;
  }

  .img-small {
    display: block;
    min-width: 200px;
  }

  .about-text {
    padding-right: 2rem;
  }

  h2,
  h3,
  h4 {
    text-align: left;
  }

  .schedule {
    flex-direction: row;
    justify-content: space-evenly
  }

  .gig {
    width: 49%;
  }
}

@media (min-width: 960px) {
  .gig {
    width: 32%;
  }
}
@media (min-width: 1024px) {
  .gig {
    width: 49%;

  }

  .video iframe {
    width: 49%;
  }
}

@media (min-width: 1330px) {
  .gig {
    width: 32%;
  }

  .news article {
    width: 32%;
    min-width: 260px;
    max-width: 400px;
  }

  .youtube {
    width:32%;
    min-width: 200px;
    max-height: 200px;
  }

  .contact-text p {
    padding: 0rem 4rem;
    padding-bottom: 0;
  }
}



@media (max-width: 700px) {
  .spotify {
    width: 100%;
    min-height: fit-content;
    padding-bottom: 2rem;
    
  }
  .player {
    width: 100%;
    height: 87px;
  }

  .contact-text {
    width: 100%;
    border: none;
    padding-bottom: 0;
  }

  .schedule {
    flex-direction: row;
  }
}

@media (max-width: 1023px) {
  .logo {
    font-size: 3.5rem;
  }

  .nav-link {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .logo {
    font-size: 3.3rem;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  .youtube {
    max-height: 200px;
  }
}

@media (max-width: 370px) {
  .logo {
    font-size: 3.3rem;
  }

  .nav-link {
    font-size: 0.9rem;
  }
}

@media (max-width: 364px) {
  .logo {
    font-size: 3.2rem;
  }
  .nav-link {
    font-size: 0.9rem;
  }
}

@media (max-width: 345px) {
  .logo {
    font-size: 3.1rem;
  }
  .nav-link {
    font-size: 0.85rem;
  }
}

@media (max-width: 331px) {
  .logo {
    font-size: 2.9rem;
  }
  .nav-link {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .logo {
    font-size: 2.9rem;
  }
  .nav-link {
    font-size: 0.75rem;
  }
}

@media (max-width: 309px) {
  .logo {
    font-size: 2.7rem;
  }
  .nav-link {
    font-size: 0.6rem;
  }

  .youtube {
    max-height: 160px;
  }
}



@media (max-width: 270px) {
  .logo {
    font-size: 2.4rem;
  }
  .nav-link {
    font-size: 0.5rem;
  }
}

@media (max-width: 250px) {
  .logo {
    font-size: 2.3rem;
  }
  .nav-link {
    font-size: 0.45rem;
  }
}
