* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

img {
  color: #32292f;
}

.navbar {
  background-color: #f4afab !important;
}

.navbar-brand {
  width: 20%;
  margin: 0;
}

.navbar-collapse {
  flex-grow: 0;
  width: 20%;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-light .navbar-brand {
  color: #32292f !important;
}

.container {
  padding: 0;
  background-color: #f8faf1;
  color: #32292f;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h6 {
  max-width: 60%;

  text-align: center;
  font-size: 1rem;

  font-weight: 200;
  margin: 0 auto;
}

.main-container {
  min-height: 90vh;
  width: 100%;
}

main {
  width: 100%;
  margin: 1rem auto 2rem;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  width: 100%;

  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  padding-bottom: 0.05rem;
}

/* Själva anteckningen
*/
.note {
  padding: 0.7rem 1rem 1rem;
  width: 100%;
  max-width: 450px;
  height: 203px;
  min-height: 203px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  background-color: #feff9c;
  margin-bottom: 3rem;
}

.content {
  transition: all 0.3s ease;
  padding: 0rem 0.5rem;
  overflow: hidden;
  height: 100%;
}

.note:hover .content {
  transition: all 0.3s ease;
  overflow: initial;
  min-height: 115px;
}

.note:hover {
  height: fit-content;

  transition: all 0.3s ease;
  transform: scale(1.02);
}



.note-list {
  background-color: #d1e2f0;
}

.checkbox {
  margin-top: auto;
}

.textArea {
  background-color: inherit;
  border: none;

  min-height: 100px;

  height: 100%;
  width: 100%;

  padding: 0.5rem 1rem 1rem;
}

.textArea:focus {
  outline: none;
}

.note-buttons-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.note-button {
  border: none;
  background-color: inherit;
  filter: opacity(70%);
}

.note-button-bottom {
  margin-left: auto;
  margin-top: auto;
}

.note-button:hover {
  filter: opacity(40%);
  transition: 0.3s ease-in-out;
}

.note-button:focus {
  outline: none;
  filter: opacity(100%);
}

#list-button {
  margin-right: 0.2rem;
  margin-left: 0.5rem;
}

.date {
  color: rgba(0, 0, 0, 0.5);
}

.list {
  padding: 1rem 2rem;
}

.input-container {
  max-width: 100%;
  margin: 0rem 1rem;
  background-color: #e0ecf5;
  display: none;
  padding: 0.3rem 0.7rem;
  border-radius: 0.3rem;
}

.note-list:hover, .input-container {
  display: flex;
  justify-content: space-between;
}

.list-input {
  border: none;

  background-color: inherit;
  margin-right: 0.5rem;
  width: 100%;
  font-family: Verdana, Tahoma, sans-serif;
  color: inherit;
}

.list-item {
  word-wrap: break-word;
}

.list-input:focus {
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffff9;
  min-width: 120px;
  z-index: 1;
  top: 2.5rem;

  border-radius: 0.25rem;
}

.close-btn-dropdown {
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  bottom: 1rem;
  right: 0.3rem;
  background-color: transparent;
}

.close-btn-dropdown img {
  position: relative;
  bottom: 0.2rem;
}

.btn-outline-secondary {
  border: none;
}

.btn-group-sm > .btn,
.btn-sm {
  font-size: 0.65rem;
  font-weight: 600;
}

.btn-block {
  margin-top: 0.5rem;
  color: black;
}

.dropbtn {
  background-color: inherit;
  font-size: 14px;
  border: none;
  outline: none;

  padding: 0.5rem;
}

.dropbtn:focus {
  outline: none;
  filter: opacity(100%);
}

.dropbtn:hover {
  filter: opacity(100%);
}

.dropdown-content a {
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  list-style: none;
  padding: 0.4rem 1rem;
}

.dropdown-content li:hover {
  background-color: #f4afab;
}

/*Ny anteckning*/
.menuIcon {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.menuIcon span {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}

.menuIcon.active span img {
  transform: rotate(45deg);
}

.menuIcon ul {
  position: absolute;
  bottom: 55px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}

.menuIcon.active ul {
  visibility: visible;
  opacity: 1;
}

.menuIcon ul li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menuIcon ul svg {
  height: 50px;
  font-size: 50px;
}

.addNoteBookFlexBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.addNoteBookButton {
  border: none;
  background-color: transparent;
  outline: none;
}
.removeNoteBookButton {
  border: none;
  background-color: transparent;
  outline: none;
}
.noteBookTitle {
  position: relative;
  left: 10%;
  width: 80% !important;
  padding-left: 0.3rem;
}

.noteBookFlex {
  display: flex;
  flex-direction: row;
}

.dropdown-menu.show {
  padding: 0.5rem;
  background-color: #fffff9;
}

.dropdown-item {
  position: relative;
  width: 80%;
}
.Dashboard {
  left: 4%;
}

@media (min-width: 430px) {
  .content {
    padding: 0rem 2rem;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    justify-content: space-between !important;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    left: -7.5rem !important;
  }

  main {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    margin: 1rem auto;
  }

  h6 {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }

  .dropdown-menu {
    min-width: 15rem;
  }

  .navbar-brand {
    width: 20%;
  }

  .note {
    max-width: 47%;
    margin: 0rem auto 2rem;
    height: 225px;
    min-height: 225px;
  }

  .note:hover, .note:active {
    min-height: 225px;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}
